*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #fff;
    top: 0;
    border: sticky;
}
.logo{
    display: flex;
    align-items: left;
    gap: 10px;

}
.logo img{
    width: 40px;
}
.logo span{
    font-weight: bold;
    font-size: 18px;
}
.nav{
    display: flex;
    gap: 25px;

}
.nav a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.nav a:hover{
    color: #007bff;
}
.login-btn{
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.hero{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding:  60px 40px;
    gap: 40px;
    flex-wrap: nowrap;
    
}
.hero-left img{
    width: 650px;
    /* background: #2e7d32;
    border-radius: 12px; */
    padding: 20px;
    /* min-width: 100%; */
}
.tag{
    background: #e8f5e9;
    color: #2e7d32;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 30px;
    /* font-weight: 600; */
    /* display: inline-flex;
    align-items: center;
    /* gap: 6px; */
    /* margin-bottom: 15px; */
    /* margin-right: 0; */
    width: 400px; */

    }
.hero-right{
    flex: 1.2;
    max-width: 560px;
}

.hero-right h1{
    font-size: 60px;
    color:#333333;
    margin: 15px 0;
    font-weight: 700;
    line-height: 1.2;

}
.hero-right p{
    color:#7c7c7c ;
    line-height: 28px;
    font-size: 25px;
    text-align: justify;
    /* word-spacing: -1px;
    letter-spacing: 0.2px;
    max-width: 540px; */
    font-weight: 400;
}